{% load static %}

<link rel="stylesheet" href="{% static 'css/mypublishedorreplied.css'%}">

<ul class="message-container">
    <li class="message-item">
        <a class="user-avatar">
            <img class="avatar-item"
                src="https://tse1-mm.cn.bing.net/th/id/OIP-C.Zte3ljd4g6kqrWWyg-8fhAHaEo?w=264&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"
                alt="帖子图片">
        </a>
        <div class="main">
            <div class="infor-tiezi">
                <div class="tiezi-info">
                    <a class>这是名词</a>
                    <div class="interaction-hint"><span>2021-10-9</span></div>
                </div>
                <div class="interaction-content">
                    <span>这是具体内容</span>
                </div>
            </div>
        </div>
    </li>

    <li class="message-item">
        <a class="user-avatar">
            <img class="avatar-item"
                src="https://tse1-mm.cn.bing.net/th/id/OIP-C.Zte3ljd4g6kqrWWyg-8fhAHaEo?w=264&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"
                alt="帖子图片">
        </a>
        <div class="main">
            <div class="infor-tiezi">
                <div class="tiezi-info">
                    <a class>这是名词</a>
                    <div class="interaction-hint"><span>2021-10-9</span></div>
                </div>
                <div class="interaction-content">
                    <span>玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神玩原神</span>
                </div>
            </div>
        </div>
    </li>
    <!-- 复制上面的<li>块以添加更多消息项 -->
</ul>