<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>交我伴 - 你的搭子部落</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css'%}">
</head>

<body>
    <div class="feeds-page">
        <div class="channel-container">
            <div class="scroll-container channel-scroll-container">
                <div class="content-container">
                    <div class="channel active">推荐</div>
                    <div class="channel">穿搭</div>
                    <div class="channel">美食</div>
                    <div class="channel">彩妆</div>
                    <div class="channel">影视</div>
                    <div class="channel">职场</div>
                    <div class="channel">情感</div>
                    <div class="channel">家居</div>
                    <div class="channel">游戏</div>
                    <div class="channel">旅行</div>
                    <div class="channel">动漫</div>
                    <div class="channel">健身</div>
                </div>
            </div>
        </div>
        <div class="loading-container"></div>
        <div class="feeds-container">
            <div class="card">
                <img class="lazy-img"
                    src="https://tse1-mm.cn.bing.net/th/id/OIP-C.Zte3ljd4g6kqrWWyg-8fhAHaEo?w=264&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"
                    style="border-radius: 8px" onclick="toMain()" />
                <div class="footer">
                    <a class="title"><span>这是具体内容</span></a>
                    <div class="author-wrapper">
                        <a class="author">
                            <img class="author-avatar"
                                src="https://tse1-mm.cn.bing.net/th/id/OIP-C.Zte3ljd4g6kqrWWyg-8fhAHaEo?w=264&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" />
                            <span class="name">这是名字</span>
                        </a>
                        <span class="like-wrapper like-active">
                            <svg style="width: 1em; height: 1em">
                                <use xlink:href="#search-icon"></use>
                            </svg>
                            <span class="count">12</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="feeds-loading"></div>
    </div>

    <script>
        function toMain() {
            window.location.href = "/main";
        }
    </script>
</body>

</html>