{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>笔记详情</title>
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" href="{% static 'css/pushbutton.css'%}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

</head>

<body>
    <div class="note-detail-mask">
        <div class="note-container">
            <div class="media-container">
                <div class="carousel">
                    <div class="carousel-item">
                        <img src="{{ notice_image }}" alt="图片">
                    </div>

                </div>
            </div>
            <div class="interaction-container">
                <div class="author-container">
                    <div class="author-me">
                        <div class="info">
                            <img class="avatar-item" src="{{ owner_avatar }}" alt="头像">
                            <span class="name">{{ owner_nickname }}</span>
                        </div>

                    </div>
                    <div class="note-scroller">
                        <div class="note-content">
                            <div class="title">{{ notice_title }}</div>
                            <div class="desc">
                                <span>{{ notice_content }} <br></span>
                                <a class="tag tag-search">#海贼王</a>
                                <a class="tag tag-search">#海贼王</a>
                                <a class="tag tag-search">#海贼王</a>
                            </div>
                            <div class="bottom-container">
                                <span class="date">{{ notice_time }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 添加一个按钮来发送邀请 -->
            <a href="javascript:;" class="invite-button">发送邀请</a>
            </div>
        </div>
<div class="close-cricle" onclick="closeNoteDetail()">
    <div class="close close-mask-white">
        <span class="close-icon">✖️</span>
    </div>
</div>
    </div>
</body>

<script>
    function closeNoteDetail() {
        history.pushState(null, null, '/dashboard');
        //刷新页面
        window.location.reload();
    }
</script>
</html>

    